.container {
  padding-top: 150px;

  @media (max-width: 1400px) {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .about-section {
    display: flex;
    gap: 90px;

    @media (max-width: 1400px) {
      flex-direction: column;
    }

    .image-wrapper {
      position: relative;

      .about-image-border {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 98%;
        height: calc(100% + 8px);
        border: 1px solid #2b3252;
        z-index: -1;

        @media (max-width: 768px) {
          width: 310px;
        }

        @media (max-width: 320px) {
          width: 210px;
        }
      }

      .about-image {
        @media (max-width: 768px) {
          width: 320px;
        }

        @media (max-width: 320px) {
          width: 220px;
        }
      }
    }

    .about-content {
      max-width: 600px;
      display: flex;
      flex-direction: column;
      gap: 38px;
      justify-content: center;

      @media (max-width: 1400px) {
        align-items: center;
      }

      @media (max-width: 768px) {
        padding-inline: 30px;
      }

      h3 {
        font-weight: 700;
        font-size: 40px;
        color: #000000;
      }

      .text {
        padding-bottom: 26px;

        p {
          font-weight: 500;
          font-size: 20px;
          color: #2b3252;
        }
      }

      button {
        border: none;
        background-color: transparent;
        a {
          background: rgba(255, 255, 255, 0.1);
          border: 1px solid #ef5555;
          border-radius: 8px;
          font-weight: 700;
          font-size: 0.875rem;
          color: #ef5555;
          cursor: pointer;
          width: fit-content;
          padding: 10px 18px;
          display: flex;
          align-items: center;
          gap: 12px;
          transition: 380ms;

          &:hover {
            background-color: #ef5555;
            color: white;
            box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.315);

            img {
              transform: translateX(6px);
              filter: brightness(100);
            }
          }

          img {
            transition: 0.2s;
          }
        }
      }

    }
  }
}