.container {
  padding-top: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;

  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-wrapper {
    width: fit-content;
    height: fit-content;

    &::after {
      content: "";
      z-index: -100;
      width: calc(100% - 26px);
      height: 10px;
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      border: 1px solid black;
    }

    img {
      width: 100%;
    }
  }

  .about-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      font-weight: 700;
      font-size: 40px;
      color: #000000;
      padding-bottom: 36px;

      @media (max-width: 1280px) {
        font-size: 36px;
        padding-bottom: 26px;
      }
    }

    .text {
      p {
        font-weight: 500;
        font-size: 20px;
        color: #2b3252;
        line-height: 160%;
        padding-bottom: 46px;

        @media (max-width: 1280px) {
          font-size: 18px;
          padding-bottom: 28px;
        }
      }
    }
  }
}