.navbar-burger-menu-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 50px;
    padding-top: 24px;
    display: none;
    z-index: 101;
    transform: scale(0.9);

    @media (max-width: 1024px) {
        display: block;
    }

    @media (max-width: 365px) {
        padding-top: 20px;
        margin-right: 20px;
        transform: scale(0.8);
    }
}

.menu-wrapper {
    display: none;
    transform: translate(0, -100%);
    transition: transform 200ms ease;
    position: fixed;
    background-color: #ef5555;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    list-style: none;
    box-sizing: border-box;
    color: white;
    padding-top: 4rem;

    &.open {
        transform: translate(0, 0%);
        display: block;
    }


    .menu-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
        overflow-y: hidden;


        .navbar-search-wrapper {
            input {
                width: 310px;
                height: 50px;
                border: none;
                border-bottom: 1px solid #EAECF0;
                border-radius: 10px;
                padding-left: 18px;
                padding-right: 36px;
                font-size: 1.2rem;
                margin-bottom: 2rem;

                @media (max-width: 460px) {
                    width: 210px;
                }

                &:focus {
                    outline: none;
                }
            }

            button {
                position: absolute;
                transform: translate(-32px, 18px);
                background-color: transparent;
                border: none;
            }
        }

        li {
            font-size: 2rem;
            cursor: pointer;
            transition: 0.2s;
            text-transform: uppercase;

            &:hover {
                transform: scale(1.1);
                text-shadow: 1px 1px 1px white;
            }
        }

    }
}

.white-burger {
    filter: brightness(0) invert(1);
}

.navbar-link-wrapper {
    flex: 1;
    overflow-y: auto;

    ul {
        padding-inline: 3rem;
        text-align: center;
        gap: 10px;
        overflow-y: auto;

        li {
            margin-bottom: 12px;
        }

        li a {
            color: white;

        }
    }
}

.animate__animated.animate__slideInDown {
    animation-duration: 100ms;
}