.menu-wrapper {
    position: absolute;
    background-color: #ef5555;
    width: 100%;
    height: 100vh;
    z-index: 100;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    list-style: none;
    color: white;
    padding-top: 4rem;
}

.menu-wrapper img {
    align-self: flex-end;
    transform: scale(1.6);
    cursor: pointer;
    margin-right: 60px;
}

.no-scroll {
    overflow: hidden;
}

.menu-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    padding-top: 6rem;
}

.menu-container li {
    font-size: 2rem;
    cursor: pointer;
    transition: 0.2s;
    text-transform: uppercase;
}

.menu-container li:hover {
    transform: scale(1.1);
    text-shadow: 1px 1px 1px white;
}

.navbar-search-wrapper input {
    width: 310px;
    height: 50px;
    border: none;
    border-bottom: 1px solid #EAECF0;
    padding-right: 26px;
    border-radius: 10px;
    padding-inline: 14px;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.navbar-search-wrapper input:focus {
    outline: none;
}

.navbar-search-wrapper img {
    position: absolute;
    transform: translate(-30px, 18px);
}

.close-btn:hover {
    transition: all 0.2s;
    transform: scale(2);
}

@media (max-width: 460px) {
    .navbar-search-wrapper input {
        width: 210px;
    }
    
}