.footer {
  background-color: #2b3252;
  width: 100%;
  padding-bottom: 68px;
  padding-top: 80px;

  .container {
    .footer-content {
      display: flex;
      justify-content: space-between;

      @media (max-width: 1440px) {
        flex-direction: column;
        align-items: center;
        gap: 3.125rem;
      }

      .footer-logo-wrapper {
        .footer-logo {
          display: flex;
          max-width: 7.5rem;
          gap: 1.625rem;
          cursor: pointer;

          h3 {
            font-weight: 700;
            font-size: 22px;
            text-transform: uppercase;
            color: #ffffff;
          }
        }

        .date {
          margin-top: 2.25rem;
          font-weight: 400;
          font-size: 16px;
          color: #ffffff;
          opacity: 0.7;
        }
      }

      .footer-links-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2.625rem;

        .footer-links {
          list-style: none;
          display: flex;
          gap: 3.125rem;

          @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            text-align: center;
          }

          a {
            font-weight: 700;
            font-size: 18px;
            color: #ffffff;
            cursor: pointer;
            transition: 0.1s;

            &:hover {
              color: #a7a7a7;
            }
          }
        }

        .footer-links-socials {
          ul {
            display: flex;
            gap: 18px;
            li {
              a {
                img {
                  transition: 0.2s;

                  &:hover {
                    filter: drop-shadow(1px 1px 10px #a5a5a5);
                  }
                }
              }
            }
          }
        }
      }

      .footer-contact {
        .footer-contact-wrapper {
          display: grid;
          grid-template-columns: 230px 230px;
          grid-template-rows: auto;
          gap: 20px;
          grid-template-areas:
            "name  email"
            "textarea textarea";

          @media (max-width: 576px) {
            grid-template-columns: 180px 180px;
          }

          @media (max-width: 420px) {
            grid-template-columns: 140px 140px;
          }

          input {
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 8px;
            background-color: transparent;
            padding: 12px 20px;
            box-sizing: border-box;
            caret-color: #ffffff;
            color: #ffffff;
            width: 100%;
            transition: 0.3s;

            &::placeholder {
              font-weight: 400;
              font-size: 14px;
              line-height: 17px;
              color: #ffffff;
              opacity: 0.7;
            }

            &:focus {
              outline: none;
              border: 1px solid #f84343;
            }

            &.name {
              grid-area: name;
            }
            &.email {
              grid-area: email;
            }
          }

          .textarea-wrapper {
            grid-area: textarea;
            width: 440px;

            @media (max-width: 576px) {
              width: 340px;
            }

            @media (max-width: 420px) {
              width: 260px;
            }

            textarea {
              transition: 0.3s;
              width: 100%;
              border: 1px solid rgba(255, 255, 255, 0.3);
              border-radius: 8px;
              background-color: transparent;
              padding: 12px 20px;
              caret-color: #ffffff;
              color: #ffffff;
              resize: none;

              &::placeholder {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #ffffff;
                opacity: 0.7;
              }

              &:focus {
                outline: none;
                border: 1px solid #f84343;
              }
            }

            a {
              position: absolute;
              bottom: 20px;
              right: -22px;
              background: #ef5555;
              border-radius: 8px;
              padding: 10px 18px;
              font-weight: 700;
              font-size: 14px;
              line-height: 160%;
              color: #ffffff;
              transition: 0.3s;

              &:hover {
                background: #f84343;
                box-shadow: 1px 1px 8px #ffffff9d;
              }
            }
          }
        }
      }
    }
  }
}
