.footer {
  margin-top: 9.125rem;
  background-color: #2b3252;
  width: 100%;
  padding-top: 6.25rem;
  padding-bottom: 4.25rem;

  .container {
    .footer-content {
      display: flex;
      justify-content: space-between;

      @media (max-width: 1400px) {
        flex-direction: column;
        align-items: center;
        gap: 3.125rem;
      }

      .footer-brand-wrapper {
        .footer-brand {
          display: flex;
          max-width: 7.5rem;
          gap: 1.625rem;
          cursor: pointer;

          h1 {
            font-weight: 700;
            font-size: 22px;
            text-transform: uppercase;
            color: #ffffff;
          }
        }

        p {
          margin-top: 2.25rem;
          font-weight: 400;
          font-size: 16px;
          color: #ffffff;
          opacity: 0.7;
        }
      }

      .footer-links-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2.625rem;

        .footer-links {
          list-style: none;
          display: flex;
          gap: 3.125rem;

          @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            text-align: center;
          }

          a {
            font-weight: 700;
            font-size: 18px;
            color: #ffffff;
            cursor: pointer;
            transition: 0.1s;

            &:hover {
              color: #a7a7a7;
            }
          }
        }

        .footer-links-socials {
          display: flex;
          gap: 1.125rem;
          cursor: pointer;

          @media (max-width: 1400px) {
            display: flex;
            justify-content: center;
          }

          img {
            transition: 0.2s;

            &:hover {
              filter: drop-shadow(1px 1px 10px #a5a5a5);
            }
          }
        }
      }

      .footer-contact {
        width: 480px;
        box-sizing: border-box;

        @media (max-width: 420px) {
          width: 0;
        }

        .contact-top-row {
          display: flex;

          @media (max-width: 568px) {
            flex-direction: column;
            align-items: center;
            gap: 1.875rem;
            width: 300px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
          }

          @media (max-width: 420px) {
            width: 100%;
          }

          input {
            width: 230px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 8px;
            height: 42px;
            padding-left: 20px;
            background-color: transparent;
            color: white;

            @media (max-width: 568px) {
              width: 300px;
              box-sizing: border-box;
            }

            &:last-child {
              margin-left: 20px;

              @media (max-width: 568px) {
                margin-left: 0;
              }
            }

            &:focus {
              outline: none;
            }
          }
        }

        .contact-bottom-row {
          margin-top: 20px;
          position: relative;

          @media (max-width: 568px) {
            flex-direction: column;
            align-items: center;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            gap: 1.875rem;
            width: 300px;
          }

          @media (max-width: 240px) {
            width: 140px;
          }

          textarea {
            resize: none;
            width: 100%;
            box-sizing: border-box;
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 8px;
            background-color: transparent;
            color: white;
            padding-left: 20px;
            padding-top: 14px;

            @media (max-width: 568px) {
              width: 300px;
            }

            @media (max-width: 240px) {
              width: 140px;
            }

            &:focus {
              outline: none;
            }
          }

          button {
            position: absolute;
            right: 20px;
            bottom: 20px;
            background: #ef5555;
            border-radius: 8px;
            font-weight: 700;
            font-size: 14px;
            color: #ffffff;
            border: none;
            padding: 0.75rem 1.125rem;
            cursor: pointer;
            transition: 0.2s;

            &:hover {
              background: #f74949;
              box-shadow: 1px 1px 10px #ffffff8a;
            }
          }
        }
      }
    }
  }
}
