.header {
    margin-top: 56px;
    display: flex;
    justify-content: center;
}

.navbar-wrapper {
    width: 1420px;
    display: grid;
    grid-template-columns: 210px max-content 210px;
    grid-auto-flow: row;
    align-items: center;
    justify-content: space-between;

}

.navbar-logo {
    display: flex;
    gap: 26px;
    align-items: center;
    justify-content: flex-start;
    /* width: 150px; */
}

.navbar-logo a {
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.navbar-logo strong {
    font-weight: 700;
    font-size: 22px;
    color: #2B3252;
    text-transform: uppercase;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 50px;
    font-weight: 700;
    font-size: 18px;
    color: #2B3252;
}

.navbar-links-wrapper {
    display: flex;
    gap: 50px;
}

.navbar-links ul {
    list-style: none;
}

.navbar-links li {
    cursor: pointer;
    transition: 0.1s;
    position: relative;
}

.navbar-links a:hover {
    color: #EF5555;
}

.active-item {
    color: #EF5555;
}

.active-item::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: #EF5555;
    margin-left: calc(50% - 12.5px);
    transition: transform 0.2s ease-in-out;
    transform: scaleX(1);
}


.navbar-links li::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: #EF5555;
    margin-left: calc(50% - 12.5px);
    transition: transform 0.2s ease-in-out;
    transform: scaleX(0);
}

.navbar-links li:hover::after {
    transform: scaleX(1);
}

.navbar-search-wrapper {
    display: flex;
    justify-content: flex-end;
}

.navbar-search-wrapper input {
    /* width: 210px; */
    height: 30px;
    border: none;
    border-bottom: 1px solid #EAECF0;
    padding-right: 26px;
}

.navbar-search-wrapper input:focus {
    outline: none;
}

.form-item {
    position: relative;
}

.form-item button {
    cursor: pointer;
    border: none;
}

.form-item button img {
    position: absolute;
    right: 0px;
    top: 6px;
    background-image: url(../assets/searchIcon.svg);
    width: 16px;
    height: 16px;
    border: none;
    background-color: transparent;
}

.navbar-burger-menu-wrapper {
    display: none;
    cursor: pointer;
}



@media (max-width: 1600px) {
    .navbar-wrapper {
        width: 1200px;
    }
}

@media (max-width: 1400px) {
    .header {
        margin-top: 1.75rem;
    }

    .navbar-wrapper {
        width: 1100px;
    }
}

@media (max-width: 1200px) {
    .navbar-links {
        gap: 1.625rem;
    }

    .navbar-brand img {
        display: none;
    }

    .navbar-wrapper {
        width: 900px;
    }
}

@media (max-width: 992px) {
    .navbar-links {
        gap: 10px;
        font-size: 16px;
    }

    .navbar-brand h3 {
        font-weight: 700;
        font-size: 18px;
        color: #2B3252;
    }


    .navbar-brand img {
        width: 30%;
    }

    .navbar-search-wrapper input {
        width: 120px;
    }

    .navbar-wrapper {
        width: 700px;
    }
}

@media (max-width: 768px) {
    .navbar-links {
        display: none;
    }

    .navbar-search-wrapper {
        display: none;
    }

    .navbar-burger-menu-wrapper {
        display: block;
    }

    .navbar-wrapper {
        justify-content: space-between;
        padding-inline: 40px;
    }

    .navbar-wrapper {
        width: 70%;
    }

}

@media (max-width: 320px) {
    .navbar-brand img {
        display: none;
    }

    .navbar-wrapper {
        padding-inline: 10px;
    }

    .navbar-burger-menu-wrapper img {
        width: 90%;
    }

    .navbar-brand h3 {
        font-size: 1.3rem;
    }




}