.header {
  margin-top: 56px;
  display: flex;
  justify-content: center;

  @media (max-width: 1440px) {
    margin-top: 28px;
  }

  .logical-container {
    width: 1420px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    gap: 16px;

    @media (max-width: 1680px) {
      width: 1200px;
    }

    @media (max-width: 1440px) {
      width: 1100px;
    }

    @media (max-width: 1366px) {
      gap: 40px;
      width: 900px;
    }

    @media (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
      width: 700px;
    }

    @media (max-width: 768px) {
      width: 80%;
    }
    

    .navbar-logo {
      display: flex;
      gap: 26px;
      align-items: center;
      justify-content: flex-start;

      @media (max-width: 1024px) {
        width: 200px;
      }

      a {
        display: flex;
        gap: 20px;
        align-items: center;

        img {
          @media (max-width: 1280px) {
            width: 30%;
          }

          @media (max-width: 768px) {
            display: none;
          }
        }

        strong {
          font-weight: 700;
          font-size: 22px;
          color: #2b3252;
          text-transform: uppercase;

          @media (max-width: 1280px) {
            font-weight: 700;
            font-size: 18px;
            color: #2b3252;
          }
        }
      }
    }

    .navbar-links {
      list-style: none;
      display: flex;
      gap: 50px;
      font-weight: 700;
      font-size: 18px;
      color: #2b3252;
      justify-content: center;

      .navbar-links-wrapper {
        display: flex;
        gap: 50px;
        list-style: none;

        @media (max-width: 1366px) {
          gap: 36px;
        }

        @media (max-width: 1280px) {
          gap: 10px;
          font-size: 16px;
        }

        @media (max-width: 1024px) {
          display: none;
        }

        li {
          cursor: pointer;
          transition: 0.1s;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 2px;
            background-color: #ef5555;
            transition: 400ms;
          }

          &:hover {
            &:after {
              width: 26px;
            }
          }

          a {
            &:hover {
              color: #ef5555;
              transition: 600ms;

              &:after {
                width: 26px;
              }
            }

            &::after {
              content: "";
              position: absolute;
              bottom: -5px;
              left: 50%;
              transform: translateX(-50%);
              width: 0;
              height: 2px;
              background-color: #ef5555;
              transition: 400ms;
            }
          }
        }

        .active-item a {
          color: #ef5555;

          &::after {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
            width: 25px;
            height: 2px;
            background-color: #ef5555;
            transition: 400ms;
          }
        }
      }
    }

    .navbar-search-wrapper {
      display: flex;
      justify-content: flex-end;

      @media (max-width: 768px) {
        // display: none;
      }



      .form-item {
        position: relative;

        input {
          &[type="search"] {
            height: 30px;
            border: none;
            border-bottom: 1px solid #eaecf0;
            padding-right: 20px;
            transition: 200ms;

            &:focus {
              outline: none;
              border-bottom: 1px solid #ef5555;
            }
          }
        }

        button {
          cursor: pointer;
          border: none;

          img {
            position: absolute;
            right: 0px;
            top: -14px;
            background-image: url(../assets/searchIcon.svg);
            width: 16px;
            height: 16px;
            border: none;
            background-color: transparent;
          }
        }
      }
    }
  }
}

// .navbar-burger-menu-wrapper {
//   display: none;
//   cursor: pointer;
// }

// @media (max-width: 1024px) {
//   .navbar-burger-menu-wrapper {
//     display: block;
//   }

//   .navbar-wrapper {
//     grid-template-columns: 1fr 1fr;
//   }

//   .navbar-burger-menu-wrapper {
//     display: flex;
//     justify-content: flex-end;
//   }

//   .navbar-wrapper {
//     width: 70%;
//   }
// }

// @media (max-width: 365px) {
//   .navbar-burger-menu-wrapper {
//     img {
//       width: 22px;
//     }
//   }

//   .navbar-logo {
//     width: 100px;
//   }

//   .navbar-logo a {
//     gap: 10px;
//   }

//   .navbar-logo strong {
//     font-size: 0.8rem;
//   }

//   .navbar-logo img {
//     width: 26px;
//   }
// }

// @media (max-width: 768px) {
//   .navbar-burger-menu-wrapper {
//     img {
//       width: 46px;
//     }
//   }

//   .navbar-logo strong {
//     font-size: 1.3rem;
//   }
// }

// @media (max-width: 576px) {
//   .navbar-burger-menu-wrapper {
//     img {
//       width: 32px;
//     }
//   }

//   .navbar-logo strong {
//     font-size: 1rem;
//   }

//   .navbar-logo img {
//     width: 40px;
//   }
// }

// @media (max-width: 365px) {
//   .navbar-burger-menu-wrapper {
//     img {
//       width: 22px;
//     }
//   }

//   .navbar-logo {
//     width: 100px;
//   }

//   .navbar-logo a {
//     gap: 10px;
//   }

//   .navbar-logo strong {
//     font-size: 0.8rem;
//   }

//   .navbar-logo img {
//     width: 26px;
//   }
// }