.hero-section {
    margin-top: 56px;
    display: flex;
    justify-content: center;
}

.hero-content {
    width: 106.25rem;
    height: 48.75rem;
    background-image: linear-gradient(205.96deg, rgba(67, 26, 26, 0) -7.14%, #431A1A 121.86%), url(../assets/heroImage.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-content::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 1680px;
    border-bottom: 10px solid #2B3252;
}

.hero-content {
    display: flex;
    flex-direction: column;
}

.hero-content h1 {
    font-weight: 700;
    font-size: 3.875rem;
    color: #FFFFFF;
}

.hero-content p {
    font-weight: 400;
    font-size: 1rem;
    color: #FFFFFF;
    opacity: 0.7;
}

.hero-content button {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: .5rem;
    font-weight: 700;
    font-size: .875rem;
    color: #FFFFFF;
    cursor: pointer;
    width: fit-content;
    padding: 10px 18px;
    display: flex;
    align-items: center;
    gap: .75rem;
    transition: 0.1s;
    margin-top: 27px;
}

.hero-text-wrapper button:hover {
    background: rgba(255, 255, 255, 0.222);
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.153);
}

.hero-text-wrapper button:hover img {
    transition: 0.2s;
    transform: translateX(6px);
}

.hero-logical-container {
    width: 1420px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.hero-text-wrapper {
    margin-top: 19.375rem;
    max-width: 736px;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}