.hero-section {
  margin-top: 56px;
  display: flex;
  justify-content: center;
  position: relative;

  .hero-image-container {
    figure {
      .hero-image {
        position: relative;
        width: 100%;
        object-fit: cover;
        height: 100%;
        vertical-align: top;

        @media (max-width: 1280px) {
          // width: 98%;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(205.96deg, rgba(67, 26, 26, 0) -7.14%, #431A1A 121.86%);
      }

      &::before {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 20px);
        height: 10px;
        background-color: #2B3252;
        ;
        z-index: 1000;
      }

    }
  }


  .container {
    position: absolute;
    bottom: 150px;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 1680px) {
      bottom: 80px;
    }


    @media (max-width: 1280px) {
      bottom: 30px;
    }

    @media (max-width: 1024px) {
      // left: 200px;
    }

    @media (max-width: 768px) {
      bottom: 0;
    }

    .text-wrapper {
      max-width: 736px;
      display: flex;
      flex-direction: column;
      gap: 22px;
      max-width: 736px;
      z-index: 100;

      @media (max-width: 1280px) {
        padding-left: 50px;
        gap: 20px;
        padding-bottom: 20px;
      }

      @media (max-width: 1024px) {
        padding-inline: 20px;
        gap: 20px;
      }

      @media (max-width: 576px) {
        gap: 8px;
      }

      @media (max-width: 420px) {
        // gap: 16px;
      }

      h1 {
        font-weight: 700;
        font-size: 3.875rem;
        line-height: 76px;
        color: #ffffff;
        max-width: 800px;
        text-transform: uppercase;

        @media (max-width: 1440px) {
          font-size: 2.8rem;
          max-width: 600px;
          line-height: 56px;
        }

        @media (max-width: 1280px) {
          line-height: 52px;
          font-size: 2.6rem;
          max-width: 500px;
        }

        @media (max-width: 1024px) {
          max-width: fit-content;
          font-size: 2.2rem;
          line-height: 42px;
        }

        @media (max-width: 768px) {
          font-size: 2rem;
          line-height: 36px;
          max-width: 400px;
        }

        @media (max-width: 576px) {
          font-size: 1rem;
          max-width: fit-content;
        }

        @media (max-width: 420px) {}
      }

      p {
        font-weight: 400;
        font-size: 16px;
        color: #ffffff;
        opacity: 0.6;
        line-height: 160%;

        @media (max-width: 1280px) {
          max-width: 600px;
        }

        @media (max-width: 1024px) {
          max-width: fit-content;
          line-height: 26px;
        }

        @media (max-width: 768px) {
          line-height: 120%;
        }

        @media (max-width: 576px) {
          font-size: 10px;
        }
      }

      a {
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 0.5rem;
        font-weight: 700;
        font-size: 14px;
        color: #ffffff;
        cursor: pointer;
        width: fit-content;
        padding: 10px 18px;
        display: flex;
        align-items: center;
        gap: 0.75rem;
        transition: 0.1s;
        margin-top: 27px;

        @media (max-width: 1024px) {
          margin-top: 0px;
        }

        @media (max-width: 768px) {
          padding-inline: 40px;
        }

        @media (max-width: 576px) {
          padding-inline: 10px;
          font-size: 10px;
          padding-top: 6px;
          padding-bottom: 6px;
        }

        img {
          transition: 0.2s;

          @media (max-width: 576px) {
            width: 10px;
          }
        }

        &:hover {
          background: rgba(255, 255, 255, 0.222);
          box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.153);

          img {
            transition: 0.2s;
            transform: translateX(6px);
          }
        }

      }
    }
  }
}