.news-wrapper {
    background-color: #F8F8FA;
    width: 100%;
    margin-top: 9.75rem;
    padding-bottom: 9.75rem;
}

.logical-container {
    width: 1420px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.top-bar {
    padding-top: 5.875rem;
    padding-bottom: 5.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar h1 {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #000000;
}

.arrows-wrapper {
    display: flex;
    gap: 28px;
}

.swiper-button-prev {
    transform: rotate(180deg);
}

.arrows-wrapper img {
    cursor: pointer;
    transition: 0.1s;
}

.arrows-wrapper img:hover {
    opacity: 0.5;
}

.swiper {
    width: 115%;
    box-sizing: content-box;
    overflow: hidden !important;
}

.swiper-wrapper {
    overflow: visible !important;
    width: 110%;
    clip-path: inset(-100vw -100vw -100vw 0);
    padding-bottom: 9.375rem;
    position: relative;
    box-sizing: border-box;
}

.swiper-card {
    width: 300px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(205.96deg, rgba(67, 26, 26, 0) -7.14%, #431A1A 121.86%);
}


.swiper-card-content {
    position: absolute;
    bottom: 0;
    padding-inline: 2.5rem;
    padding-bottom: 3.125rem;
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
    max-width: 360px;
}

.swiper-card-content h3 {
    font-weight: 700;
    font-size: 34px;
    color: #FFFFFF;
}

.swiper-card-content p {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.8;
}

.swiper-card-content button {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: .5rem;
    font-weight: 700;
    font-size: .875rem;
    color: #FFFFFF;
    cursor: pointer;
    width: fit-content;
    padding: 10px 18px;
    display: flex;
    align-items: center;
    gap: .75rem;
    transition: 0.1s;
    margin-top: 27px;
}

.swiper-card-content button:hover {
    background: rgba(255, 255, 255, 0.222);
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.315);
}

.swiper-card-content button:hover img {
    transition: 0.2s;
    transform: translateX(6px);
}

@media (min-width: 2000px) {
    .logical-container {
        width: 80vw;
    }
}

@media (max-width: 1800px) {
    .logical-container {
        width: 1200px;
    }
}

@media (max-width: 1700px) {
    
}


@media (max-width: 1600px) {
    .logical-container {
        width: 1150px;
    }
}

@media (max-width: 1500px) {
    .logical-container {
        width: 1150px;
    }

}

@media (max-width: 1400px) {
    .logical-container {
        width: 1150px;
    }
}

@media (max-width: 1300px) {
    .logical-container {
        width: 1050px;
    }
}

@media (max-width: 1200px) {
    .logical-container {
        width: 900px;
    }
}

@media (max-width: 1100px) {
    .logical-container {
        width: 800px;
    }
}

@media (max-width: 992px) {
    .logical-container {
        width: 700px;
    }
}

@media (max-width: 892px) {
    .logical-container {
        width: 600px;
    }
}

@media (max-width: 768px) {
    .logical-container {
        width: 70%;
    }

}

@media (max-width: 460px) {
    .swiper-wrapper {
        clip-path: none;
    }

    .top-bar {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}