.services-wrapper {
    margin-top: 5.875rem;
    width: 1420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.services-wrapper h1 {
    font-weight: 700;
    font-size: 2.2rem;
    text-transform: uppercase;
    color: #000000;
}

.services-items {
    display: flex;
    gap: 21.25rem;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 2.375rem;
    align-items: center;
}

.col img {
    cursor: pointer;
    transition: 0.2s;
}

.col img:hover {
    transform: scale(1.1);
}

.col h3 {
    font-weight: 700;
    font-size: 1.5rem;
    color: #000000;
}


@media (max-width: 1600px) {
    .services-wrapper {
        width: 1200px;
    }
}

@media (max-width: 1400px) {
    .services-wrapper {
        width: 1100px;
    }

    .services-items {
        flex-direction: column;
        gap: 100px;
    }

}

@media (max-width: 1200px) {
    .services-wrapper {
        width: 900px;
    }
}

@media (max-width: 992px) {
    .services-wrapper {
        width: 300px;
    }
}

@media (max-width: 768px) {}

@media (max-width: 320px) {}