.services-wrapper {
  margin-top: 5.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;

  h1 {
    font-weight: 700;
    font-size: 2.2rem;
    text-transform: uppercase;
    color: #000000;
  }

  .services-items {
    display: flex;
    gap: 21.25rem;

    @media (max-width: 1400px) {
      flex-direction: column;
      gap: 100px;
    }

    .col {
      display: flex;
      flex-direction: column;
      gap: 2.375rem;
      align-items: center;

      img {
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          transform: scale(1.1);
        }
      }

      h3 {
        font-weight: 700;
        font-size: 1.5rem;
        color: #000000;
      }
    }
  }
}
