:root {
  --primaryFont: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--primaryFont);
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

::selection {
  background-color: #ef5555;
  color: #fff;;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ef5555;
}


