$primaryFont: 'Montserrat', sans-serif;

* {
  margin: 0;
  padding: 0;
  font-family: $primaryFont;
  position: relative;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #2B3252 ;
}

body {
  overflow-x: hidden;
  height: 8000px;
}

::selection {
  background-color: #ef5555;
  color: #fff;;
}

input::-webkit-search-cancel-button {
  display: none;
}
