:root {
  --primaryFont: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--primaryFont);
}

body {
  height: 4000px;
  scroll-behavior: smooth;
}

/* ::selection {
  background-color: var(--primary400);
  color: white;
} */

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ef5555;
}
